/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: var(--system-border);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--system-shadow);
  border-radius: var(--system-border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--system-color);
  border-radius: var(--system-border);
}

.btn{
  border-radius: var(--system-border);
}

.btn-primary{
  background: var(--system-color);
  border: 0px;
}

.btn-primary:hover{
  animation: wiggle 2s linear infinite;
  border: 0px;
}

input{
  accent-color: var(--system-color);
}

#tools-bar{
  border-radius: var(--system-border) var(--system-border) 0 0;
  background: var(--system-color);
  font-weight: bold;
  height: 32px;
  vertical-align: middle;
  -webkit-app-region: drag;
  font-size: 14px;
  padding: 6px 0px;
  position: absolute;
	z-index: 999999;
}

#tools-bar div, #tools-bar button{
  padding: 0px;
}

#tools-bar button{
  -webkit-app-region: no-drag;
  padding: 0 9px;
  color: var(--system-font-color);
}

#tools-bar button:hover{
  background: rgba(255,255,255,0.2);
}

#tools-bar #buttons{
  position: absolute;
	right: 20px;
	top: 3px;
}

.main-window{
  background: var(--system-background);
  border: 1px solid var(--system-color-simple);
  border-radius: var(--system-border);
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.window-content{
  margin-top: 40px;
}

.list-group-item.active{
	background: var(--system-color);
	border-color: var(--system-color-simple);
}

.list-group{
	border-radius: var(--system-border);
}

.list-group-item{
	color: var(--system-text-color);
	background: var(--system-background);
}

.form-check-input:checked {
  background-color: var(--system-color-simple);
  border-color: var(--system-color-simple);
}